<ion-view view-title="Lookup Zip">
  <ion-content class="padding">
    <p>Provide a zip code to be checked against the web service.  If a city is found, you may add this
      location to the location service.</p>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Zip:</span>
        <input type="text" ng-model="model.zip">
      </label>
    </div>      
    <button class="button button-block button-positive">
      Lookup
    </button>
  </ion-content>
</ion-view>
