  <div class="modal">
    <ion-header-bar>
		<div class="buttons">
			<button class="button" ng-click="closeModal()">Cancel</button>
		</div>
		<h1 class="title balanced">Add Location</h1>
		<div class="buttons">
			<button class="button" ng-click="addLocation()">Save</button>
		</div>
    </ion-header-bar>
    <ion-content class="has-header padding">
        <p>Provide a zip code to be checked against the web service.  If a city is found, you may add this
          location to the location service.</p>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Zip:</span>
            <input type="text" ng-model="search.zip">
          </label>
        </div>      
        <button class="button button-block button-positive" ng-click="lookupZip(search.zip)">
          Lookup
        </button>
        <ion-list ng-hide="!newLoc">
            <ion-item><span style="font-weight:bold">Name: </span>{{newLoc.city}}</ion-item>
            <ion-item><span style="font-weight:bold">Lat: </span>{{newLoc.coord.lat}}</ion-item>
            <ion-item><span style="font-weight:bold">Lon: </span>{{newLoc.coord.lon}}</ion-item>
        </ion-list>
        <p ng-hide="!locError" class="assertive">The zip code provided did not return a city, please try again!</p>
    </ion-content>
</div>
